services:
  proxy:
    image: nginx:alpine
    container_name: cf-proxy
    ports:
      - "3366:80"
    volumes:
      - ./nginx.main.conf:/etc/nginx/nginx.conf:ro
      - ./nginx.local.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  panel:
    image: poboll/cf-panel:latest
    platform: linux/amd64
    container_name: cf-panel
    volumes:
      - ./nginx.local.conf:/app/nginx.local.conf
      - /var/run/docker.sock:/var/run/docker.sock
      - ./panel.py:/app/panel.py
    ports:
      - "127.0.0.1:3367:3367"
    environment:
      - COOKIE=${COOKIE:-}
    restart: unless-stopped
